# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/
*.pkl

# Django
backend/staticfiles/
backend/media/
db.sqlite3

# Node
node_modules/
frontend/dist/
frontend/.vite/

# Env files
.env
.env.local
*.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
